@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&display=swap');

* {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  cursor: none;
  box-sizing: border-box;

}


body {
  overflow-x: hidden;
}


/* Restore default cursor on mobile devices */
@media (max-width: 640px) {
  * {
    cursor: auto;
  }
}

@theme {
  --color-primary: #5044E5;
}